.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
}

.depoimento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
    background: url("../../img/dec/bottom-right.svg") no-repeat bottom 40px right 40px; 
}

.depoimento-conteudo p {
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;
}

@media (min-width: 1200px) {
    .depoimento img {
        max-height: 1200px;
    }
}

@media (max-width: 800px) {
    .depoimento {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .depoimento-conteudo {
        padding: 40px 20px;
        justify-self: center;
    }
    .depoimento img {
        max-height: 200px;
    }
}